@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset & base styling */
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400; 
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* tambahkan ke styles.css jika perlu */
input::placeholder {
  color: #a0aec0;
}

input:focus {
  outline: none;
}

/* Default anchor link */
a {
  font-weight: 500;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

/* Body default style (light mode only) */
body {
  margin: 0;  
  min-width: 320px;
  min-height: 100vh;
  background-color: #f9fafb; /* Tailwind gray-50 */
  color: #1f2937; /* Tailwind gray-800 */
}
/* Sembunyikan scrollbar horizontal */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;    /* Firefox */
}

